.profile__others {
  display: flex;
  gap: 10px;
  font-size: 20px;
}

.profile__others__globe {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__others__logout {
  display: none;
  background: none;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.nav__button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 740px) {
  .profile__others__logout {
    display: flex;
  }

  .nav__button {
    display: none;
  }
}
