@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #1c2127;
}

::-webkit-scrollbar {
  width: 0;
}
